@model Tuple<string, List<string>, List<Dictionary<string, string>>>


<table id="@Model.Item1" class="table table-striped table-bordered">
    <thead>
        <tr>
            @foreach (var header in Model.Item2)
            {
                <th>@header</th>
            }
        </tr>
    </thead>
    <tbody>
        @foreach (var row in Model.Item3)
        {
            <tr>
                @foreach (var header in Model.Item2)
                {
                    <td>@row[header]</td>
                }
            </tr>
        }
    </tbody>
</table>
